// ==========================================================================
// Resets and Dev helpers
//
//
dev-tools()
reset()


// ==========================================================================
// Base VEFA F(CSS)
//
//

@media (prefers-reduced-motion: reduce)
    *
        animation: none !important
        transition: none !important


@require "base/*"
